.pageContainer {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 1rem;
  gap: 3rem;
}

.getStartedButton {
  padding: 1rem 2rem;
  
  font-size: 1.5rem;

  border-radius: 10px;
  border: none;

  background-color:  rgb(126, 101, 81);
  color: rgb(197, 213, 228);
}


[data-theme='dark'] .getStartedButton {
  background-color: rgb(147, 133, 129);
  color: rgb(197, 213, 228);
}