.mainHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1rem;
}

.navLeft {
    display: flex;
    align-items: center;

    gap: 1rem;
}

.navRight {
    display: flex;
    justify-content: space-evenly;
}

.navRight ul {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 3rem;
}

.lightButton {
    border: none;
    border-radius: 50px;
    color: white;

    padding: .25rem;

    background-color: rgb(70, 99, 98);
}

.darkButton {
    border: none;
    border-radius: 50px;

    padding: .25rem;
    background-color: rgb(197, 213, 228);
}