.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 4rem 0;
    gap: 1rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 2rem;
    border-radius: 10px;
    gap: 2rem;

    background-color: rgb(136, 150, 171);
    color: white;
}

.requiredFieldText {
    font-size: .75rem;
}

.loginDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.loginInput {
    border-radius: 10px;
    border: none;
    padding: 0.5rem 0.75rem;
    width: 100%;

    color: black;
    background-color: white;
}

.loginButton {
    border-radius: 10px;
    border: none;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}

.signupButton {
    border-radius: 10px;
    border: none;
    padding: 0.5rem 0.75rem;
    margin-top: .5rem;
    font-size: 1rem;
}

.signUpText {
    text-align: center;
}
